.login {
    width: 300px;
    margin: 50px auto 0;
    padding: 90px;
    margin-top: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 10px 10px #7776B3;

  }
  
  .login h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login button {
    width: 100%;
    padding: 10px;
    background-color: #6a5b82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login button:hover {
    background-color: #5d136b;
  }
  