.articles-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  .articles-table th,
  .articles-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
  }
  
  .articles-table th {
    background-color: #f2f2f2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .my-articles-button {
    width: 250px;
    padding: 5px;
    margin: 10px;
    background-color: #6a5b82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .my-articles-button:hover {
    background-color: #5d136b;
  }
  
  .small-button {
    width: 100px;
    padding: 2px;
    margin: 10px;
    background-color: #6a5b82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .small-button:hover {
    background-color: #5d136b;
  }
  